.chat-main
  .main-headr
    .main-headr__left-box
      .main-headr__left-box__current-group
        = @group.name
      .main-headr__left-box__menmber-list
        Member：
        %li.main-header__left-box__member-name
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main-headr__edit-btn
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "form__new-message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input-box__image__file', id: "message_image"
      = f.submit 'send', class: 'submit-btn'